@* OK *@

@page "/"

@attribute [Authorize]

@inject IJSRuntime JSRuntime

@inject DialogService DialogService

@inject Services.TranscriptService TranscriptService

@implements IAsyncDisposable

<PageTitle>Transcript</PageTitle>

<ErrorBoundary>
    <AuthorizeView>
        <Authorized>
            <RadzenCard Variant="Variant.Outlined" class="rz-mt-4">
                <RadzenStack Orientation="Orientation.Vertical" Gap="0.5rem">
                    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.SpaceBetween">
                        <RadzenText TextStyle="TextStyle.Subtitle1" TagName="TagName.P" class="rz-m-0" Style="margin: 0px; padding: 0px;">Transcript</RadzenText>
                        <RadzenButton Click=@OnClearClick Text="Clear" ButtonStyle="ButtonStyle.Base" Variant="Variant.Flat" Size="ButtonSize.Small" />
                    </RadzenStack>
                    <RadzenStack Orientation="Orientation.Vertical" Gap="0" ID="transcript-console" class="rz-pt-1" Style="border-top: var(--rz-grid-cell-border); overflow: scroll; min-height: calc(100vh - 238px); max-height: calc(100vh - 238px);">
                        @foreach (Message message in TranscriptService.Messages)
                        {
                            Shade ShadeX = Shade.Lighter;

                            if (message.AlertStyle == AlertStyle.Danger)
                            {
                                ShadeX = Shade.Dark;
                            }

                            <RadzenAlert ShowIcon="false" Variant="Variant.Flat" AlertStyle="message.AlertStyle" Size="AlertSize.ExtraSmall" Shade=ShadeX AllowClose="false" Style="font-size: 1rem; word-wrap: anywhere;">
                                <span Style="opacity: 0.6;">@message.Date.ToString("yyyy-mm-dd HH:mm:ss")</span> @((MarkupString)message.Text)
                            </RadzenAlert>
                        }
                    </RadzenStack>
                </RadzenStack>
            </RadzenCard>
        </Authorized>
        <NotAuthorized>
        </NotAuthorized>
    </AuthorizeView>
</ErrorBoundary>

@code {
    protected override async Task OnInitializedAsync()
    {
        TranscriptService.OnNewMessage += () =>
        {
            try
            {
                JSRuntime.InvokeVoidAsync("eval", $"document.getElementById('transcript-console').scrollTop = document.getElementById('transcript-console').scrollHeight");
            }
            catch (Exception e)
            {
                Log.Error($"Portal TranscriptPage.razor OnInitializedAsync() Exception: {e.Message}");
            }

            InvokeAsync(StateHasChanged);
        };

        TranscriptService.OnNewNotification += () =>
        {
            string message = string.Empty;

            if (TranscriptService.Notification is not null && TranscriptService.Notification != string.Empty)
            {
               message = TranscriptService.Notification;
               TranscriptService.ClearNotification();
            }

            DialogService.Alert(message, $"\U000026D4 {DateTime.Now.ToString("yyyy-mm-dd HH:mm:ss")}", new AlertOptions() { OkButtonText = "OK", Style = "color: gray;", ShowClose = false });
        };
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        try
        {
            await JSRuntime.InvokeVoidAsync("eval", $"document.getElementById('transcript-console').scrollTop = document.getElementById('transcript-console').scrollHeight");
        }
        catch (Exception e)
        {
            Log.Error($"Portal TranscriptPage.razor OnAfterRenderAsync() Exception: {e.Message}");
        }
    }

    private async Task OnClearClick()
    {
        await TranscriptService.ClearMessages();
    }

    public async ValueTask DisposeAsync()
    {
        TranscriptService.OnNewMessage -= StateHasChanged;
        TranscriptService.OnNewNotification -= StateHasChanged;
    }
}
